<div class="img-container m-0 overflow-hidden">
  <app-backgroun-animation></app-backgroun-animation>
  <div class="landing-box">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="h2 text-white text-center font-weight-bolder">امسح النماذج والأوراق ضوئيًا</h1>
      </div>
      <div class="col-12">
        <button mat-button class="landing-search-button" routerLink="/projects/list">
          اختر نموذجًا
        </button>
      </div>
    </div>
  </div>
</div>