.btn-gold {
    background-color: #ceaf6e;
}

.spacer {
    flex-grow: 2;
}

.lbl-img {
    max-width: 100%;
}

.lbl-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}