asgiref==3.2.10
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
cycler==0.10.0
Django==3.1
django-cors-headers==3.4.0
django-rest-framework==0.1.0
django-rest-knox==4.1.0
djangorestframework==3.11.2
google-api-core==1.22.1
google-auth==1.20.1
google-cloud-vision==1.0.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.31.0
h11==0.9.0
h2==3.2.0
h5==0.0.1
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.8.12
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
opencv-python==4.4.0.40
pandas==1.1.0
pdf2image==1.13.1
Pillow==7.2.0
protobuf==3.12.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyMuPDF==1.17.7
pyparsing==2.4.7
pytesseract==0.3.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
rfc3986==1.4.0
rsa==4.6
six==1.15.0
sniffio==1.1.0
sqlparse==0.3.1
urllib3==1.25.10
Wand==0.6.3
